{% extends "shop_home.html" %}
{% load widget_tweaks %}

{% block content%}

<div class="container">
   {% for product in products %}
    <div class="show well rel_container">
    <div class="image_div"><img class="img-responsive image_categories" src={{ product.product.image.url }}></div>
    <div class="heading_div h_div"><h4>{{ product.product.product_name }}</h4></div>
   <div class="trash">
    <div class="quantity h_div">Quantity: {{product.quantity}}</div>
    <div class="quantity_price h_div">{{product.price_quantity}} USD</div>
        <div class="h_div trash_cart">
        <a class="btn btn-default btn-sm" href="{% url 'remove_cart' id=product.id %}"><span class="glyphicon glyphicon-trash"></span></a>
       </div>
    </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
