{% extends "shop_home.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content%}
{% for product in products %}
{% if product.promo %}
<div class="container">
    <div class="show well">
    <a href="{% url 'product_view' id=product.id %}"><p><h4>{{ product.product_name }}</h4></p></a>
    <div class="image_div">
    <img class="image_categories promo" src="{% static 'images/promo-tag.png' %}">
    {% if product.image %}
    <img class="img-responsive image_categories image_promo" src={{ product.image.url }}>
    {% else %}
    <img class="img-responsive img-thumbnail" src="{% static 'images/not_found.png' %}">
    {% endif %}
    </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="show well">
    <a href="{% url 'product_view' id=product.id %}"><p><h4>{{ product.product_name }}</h4></p></a>
    <div class="image_div">
    {% if product.image %}
    <img class="img-responsive image_categories" src="{{ product.image.url }}">
    {% else %}
    <img class="img-responsive img-thumbnail" src="{% static 'images/not_found.png' %}">
    {% endif %}
    </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}