{% extends "shop_home.html" %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load staticfiles %}

{% block content%}
<div class="container">
    <p><h3>{{ product.product_name}}</h3></p>
    {% if product.image %}
<p><img class="img-responsive img-thumbnail" src={{ product.image.url }}></p>
{% else %}
<p><img class="img-responsive img-thumbnail" src="{% static 'images/not_found.png' %}"></p>
{% endif %}
<p>{{ product.description}}</p>
<br>
<br>
{% if product.promo %}
<p>Price: <s>{{product.price}} USD</s> <span id="promo_price"><b>{% widthratio product.price 1 product.promo_percent as multiply %}{% widthratio multiply 100 1 as value %}{{ product.price|sub:value }} USD</b></span>
{% else %}
<p>Price: <b>{{product.price}}</b> usd
{% endif %}
<div class="inline">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="inline_border">
            {% for field in form %}
            {% if quantity > 0 %}
            {% with quantity|stringformat:"s" as num %}
            {% with "max:"|add:num as value%}
            {{ field|attr:value }}
            {% endwith %}
            {% endwith %}
            {% else %}
            {{ field|attr:"value:0"|attr:"disabled" }}
            {% endif %}
            {% endfor%}
        </div>
        {% if quantity > 0 %}
        <div class="inline_border"><button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
            </button></div>
            {% if request.user.is_authenticated and request.user.is_staff %}
            <div class="inline_border"><a href="{% url 'change_product' pk=product.id%}" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Edit product
            </a></div>
            {% endif %}
            {% else %}
            <div class="inline_border"><button type="submit" class="btn btn-default btn-sm" disabled>
            <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
            </button></div>
            {% if request.user.is_authenticated and request.user.is_staff %}
            <div class="inline_border"><a href="{% url 'change_product' pk=product.id%}" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Edit product
            </a></div>
            {% endif %}
            {% endif %}
    </form>
</div>
</p>
</div>
{% endblock %}