{% extends "base.html" %}

{% block category %}
<div class="btn-group-vertical col-md-12 mh-100 user_button" ><a href="{% url 'show_address' %}" type="button" class="btn btn-default user_button">Address book</a></div><br>
<div class="btn-group-vertical col-md-12 mh-100 user_button" ><a href="{% url 'show_address' %}" type="button" class="btn btn-default user_button">My orders</a></div><br>
<div class="btn-group-vertical col-md-12 mh-100 user_button" ><a href="{% url 'show_address' %}" type="button" class="btn btn-default user_button">My invoice's</a></div><br>
{% endblock %}
{% block content%}
<div class="container">
    <div class="show well">
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Telephone: {{ user.telephone}}</p>
        <p>Date of birth: {{ user.date_of_birth}}</p>
        <div class="pull-right">
            <div class="pull-right"><a type="submit" href="/change_password" class="btn btn-default">Change password</a></div>
            <div class="pull-right" style="margin-right: 10px"><a type="submit" href="/edit_user" class="btn btn-default">Edit</a></div>
        </div>
    </div>
</div>
{% endblock %}