{% extends "base.html" %}

{% block category %}
<div class="btn-group-vertical col-md-12 mh-100 user_button" ><a href="{% url 'user_info' %}" type="button" class="btn btn-default user_button">User info</a></div><br>
<div class="btn-group-vertical col-md-12 mh-100 user_button" ><a href="{% url 'show_address' %}" type="button" class="btn btn-default user_button">My orders</a></div><br>
<div class="btn-group-vertical col-md-12 mh-100 user_button" ><a href="{% url 'show_address' %}" type="button" class="btn btn-default user_button">My invoice's</a></div><br>
{% endblock %}

{% block content%}
<div class="container">

    {% for address in addresses%}
    <div class="show well">
            <p>City: {{address.city}}</p>
            <p>Zip code: {{address.zip_code}}</p>
            <p>Street: {{address.street}}</p>
            <p>House no: {{address.house_no}}</p>
            <p>Flat no: {{address.flat_no}}</p>
            <div class="pull-right"><a type="submit" href="edit_address/{{ address.pk }}" class="btn btn-default" data-id="{{ address.pk }}">Edit</a></div>
            
    </div>
    {% endfor %}
    <div id="button_address">
    <a type="button" href="{% url 'add_address' %}" class="btn btn-default" data-id="{{ address.pk }}">Add address</a>
</div>
</div>
{% endblock %}