{% extends "base.html" %}


{% block content%}
<div class="container">

    {% for address in addresses%}
    <div class="show well">
            <p>City: {{address.city}}</p>
            <p>Zip code: {{address.zip_code}}</p>
            <p>Street: {{address.street}}</p>
            <p>House no: {{address.house_no}}</p>
            <p>Flat no: {{address.flat_no}}</p>
            <div class="pull-right"><a type="submit" href="edit_address/{{ address.pk }}" class="btn btn-default" data-id="{{ address.pk }}">Edit</a></div>
            
    </div>
    {% endfor %}
</div>
{% endblock %}